<section id="contact" class="contact" ng-controller="ContactController">
    <div class="subjectBar">
        <div class="widthController">
            Ik wil graag contact opnemen voor
            <div class="option" ng-click="clickChoice(0)">
                <div class="dot one" ng-class="{active:choice===0}"></div>
                Intakegesprek
            </div>
            <div class="option" ng-click="clickChoice(1)">
                <div class="dot two" ng-class="{active:choice===1}"></div>
                een vraag
            </div>
        </div>
    </div>
    <form name="contactForm" class="form" ng-keyUp="keyUp()" ng-submit="contactForm.$valid && send(creds)" novalidate>
        <div class="widthController">
            <div class="col">
                <div class="box" ng-keyup="keyUp()">
                    <input ng-model="creds.naam" type="text" name="naam" placeholder="Naam" required>
                    <div class="error" ng-show="contactForm.naam.$valid === false"></div>
                </div>
                <div class="box">
                    <input ng-model="creds.email" type="email" name="email" placeholder="E-mail" required>
                    <div class="error" ng-show="contactForm.email.$valid === false"></div>
                </div>
                <div class="box">
                    <input ng-model="creds.telefoon" type="text" name="telefoon" placeholder="Telefoon">
                </div>
            </div>
            <div class="messageBox">
                <textarea ng-model="creds.bericht" name="bericht" placeholder="Bericht" required></textarea>
                <div class="error" ng-show="contactForm.bericht.$valid === false"></div>
            </div>
            <input type="submit" value="{{formStatus}}" class="send">
        </div>
    </form>
</section>
