#bar {
    @include box-sizing();
    position: absolute;
    height: 100px;
    left: 25px;
    right: 25px;
    bottom: 0;
    line-height: 100px;
    padding-left: 25px;
    padding-right: 25px;
    text-transform: uppercase;
    .item {
        position: absolute;
        height: 100%;
        top: 0;
        &#trackInfo {
            left: 0;
            font-size: 2rem;
        }
        &#clock {
            right: 0;
            font-size: 5rem;
            font-weight: 400;
            color: rgba($color-white, 0.5);
            text-align: right;
            span {
                font-weight: 700;
                color: rgba($color-white, 1);
            }
        }
    }
}
