#bar {
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 0;
    line-height: 100px;
    text-transform: uppercase;
    .item {
        @include box-sizing();
        position: absolute;
        height: 100%;
        top: 0;
        text-align: center;
        &#trackInfo {
            @include transition(all, 2s, ease);
            left: 25px;
            font-size: 2rem;
            &.blurred{
                -webkit-filter: blur(10px);
            }
        }
        &#clock {
            right: 25px;
            font-size: 5rem;
            font-weight: 400;
            color: rgba($color-white, 0.5);
            span {
                font-weight: 700;
                color: rgba($color-white, 1);
            }
        }
    }
    #progress {
        position: absolute;
        height: 4px;
        left: 0;
        bottom: 0;
        &.red {
            background-color: red;
        }
        &.blue {
            background-color: blue;
        }
        &.black {
            background-color: black;
        }
        &.yellow {
            background-color: yellow;
        }
    }
}
