#canvasWrapper {
    @include border-radius(25px);
    position: absolute;
    left: 25px;
    right: 25px;
    top: 25px;
    bottom: 25px;
    @import 'theater';
    #canvas {
        @include border-radius(25px);
        $shadow: ( inset 0 0 0 2px #6aa1ff, inset 0 0 100px rgba(0,0,0,1) );
        @include box-shadow($shadow);
        position: absolute;
        background-color: rgba($color-bg,0.2);
    }
}
